<h2>Wine Details</h2>
<div>{{ wine.winery }}</div>
<div>{{ wine.name}}</div>
<div>{{ wine.type}}</div>
<div>{{ wine.year}}</div>
<div>{{ wine.grape}}</div>
<div>{{ wine.country}}</div>
<div>{{ wine.region}}</div>