<h2>Wine Details</h2>
{{#with wine}}
<div>{{ this.winery }}</div>
<div>{{ this.name}}</div>
<div>{{ this.type}}</div>
<div>{{ this.year}}</div>
<div>{{ this.grape}}</div>
<div>{{ this.country}}</div>
<div>{{ this.region}}</div>
{{/with}}
