{{#with wine}}

{{!-- <div>{{ this.region}}</div> --}}



<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      
      <h1 class="display-5">{{ this.winery }}</h1>
      <h2 class="lead">{{ this.name}}</h2>
      <h2 class="lead" style="color: #F8F9FA;">_______________________________________________________________________</h2>
    </div>
  </div>

  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h6>Type: {{ this.type}}</h6>
      <h6>Year: {{ this.year}}</h6>
      <h6>Grape: {{ this.grape}}</h6>
      <h6>Year: {{ this.year}}</h6>
      <h6 id="country">Country: {{this.country}}</h6>
      <h6 id="address">Region: {{this.region}}</h6>
      <h2 class="lead" style="color:#343A40;">_________________________________</h2>
      {{!-- <p id="address">{{this.region}}</p>
      <p id="country">{{this.country}}</p> --}}
      <script>
    let currentAddress = document.getElementById("address").innerText + ", " + document.getElementById("country").innerText;
</script>
    </div>
  </div>

</div>




<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="lead" style="color: #F8F9FA;">_______________________________________________________________________</h2>
      <div id="winemap" style="height: 500px; width: 100%;"></div>
    </div>
  </div>

  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <img  height="500"  src="{{this.imgPath}}" alt="Photo for {{this.name}}">
      <h2 class="lead" style="color: #F8F9FA;">_________________________________</h2>
    </div>
  </div>

</div>


</br></br> 

      <p>
        <a href="/wines" class="btn btn-primary my-2">back</a>
        <form action="/wines/details/{{ this._id }}/delete" method="POST"><button type="submit" class="btn btn-secondary my-2">delete</button></form>
      </p>



{{/with}}







         