{{!-- <h1>My Cellar</h1> --}}

<main role="main">

    <section class="jumbotron text-center" style="background: url('../images/other3.png') center; background-size: 100%" >
    <div class="container" >
      <h1 style="color:#F0EBE1; font-family: cursive; font-weight: 700;">My Cellar</h1>
      <p class="lead text-muted">Here is your collection of wines!</p>
      <p>
        <a href="/wines/new" class="btn btn-primary my-2">add wine</a>
        <a href="/" class="btn btn-secondary my-2">back</a>
      </p>
    </div>
  </section>


<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
        
            {{#each wines}}
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">

                  <div class="wine-container">
                    <img width="37px" height= "auto" src="{{this.imgPath}}" alt="Photo for {{this.name}}">
                    </div>

                    <div class="card-body">
                      {{!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> --}}
                          <div class="d-flex justify-content-between align-items-center"></div>
                              {{winery}}<BR>
                              {{name}}<BR>
                              <div class="btn-group">
                                  <button onclick="window.location.href=`/wines/details/{{ _id }}`;" class="btn btn-sm btn-outline-secondary">View</button>
                                  <button onclick="window.location.href=`/wines/details/{{ this._id }}/edit`;" class="btn btn-sm btn-outline-secondary">Edit</button> 
                              </div>
                                   {{!-- <form action="/wines/details/{{ this._id }}/delete" method="POST" class="btn btn-sm btn-outline-secondary">
                                  <button type="submit">Delete</button></form>     --}}
                    </div>  
                </div> 
              </div>
            {{/each}}
          

      </div>
    </div>
  </div>


  </main>